In [1]:
print ("hello world")

hello world

In [2]:
print ("Ashraf Siddik Faysal")

Ashraf Siddik Faysal

In [3]:
print("1",1,1)

1 1 1

In [4]:
print ("this is a string ")

this is a string

Data Types
Since python is an intrepreted language , Variables can be assigned without specifying their types.

In [10]:
a=45  #INTEGER
b=5.5858   #DOUBLE PRECISION FLOAT
c= 'this is a string'  # String
d=False     #boolean
e=a>b       #Boolean 

print (a)

45

In [11]:
print(type (a))

<class 'int'>

In [12]:

print('Value of a is', a,', Type of a is:', type(a))
print('Value of b is', b,', Type of b is:', type(b))
print('Value of c is', c,', Type of c is:', type(c))
print('Value of d is', d,', Type of d is:', type(d))
print('Value of e is', e,', Type of e is:', type(e))

Value of a is 45 , Type of a is: <class 'int'>
Value of b is 5.5858 , Type of b is: <class 'float'>
Value of c is this is a string , Type of c is: <class 'str'>
Value of d is False , Type of d is: <class 'bool'>
Value of e is True , Type of e is: <class 'bool'>

# Assignment Statement And Operators

## The assignment can be done for a single variable, or for a tuple of variables separated by commas:

In [13]:
m = 5 + 7

x, y = 10, 20

a, b, c, d = 5, 'Text', None, x==y

In [14]:
print (b)

Text

In [15]:
print (type (c))

<class 'NoneType'>

In [16]:
print (type(d))

<class 'bool'>

In [17]:
print (d)

False

# Operators 
### Most useful operators are shown below

+ , - , * , ** , / , // , %
== , != , <> , > , >= , < , <=
and , or , not

In [2]:
x = 4+5
print (x, type (x))

9 <class 'int'>

python three handle integer division , notice how integer division is handled by either an integer or a float

In [5]:

print(9/2.5)
print (10/3)

3.6
3.3333333333333335

# Strings

A string in python can be sorrounded by either single or double quotes (no difference as long as they match ). Three double quotes allow to print new lines directly.

In [6]:
a = 'abc'
b= "def"
c= """aaa
bbb
ccc"""
d= "xxx'yyy"
e='mmm"nnn'
f= "aaa\nbbb\nccc"

In [7]:
print (a,b,c,d,e,f)

abc def aaa
bbb
ccc xxx'yyy mmm"nnn aaa
bbb
ccc

In [8]:
print (a)
print(b)
print(c)
print(d)
print(e)
print(f)

abc
def
aaa
bbb
ccc
xxx'yyy
mmm"nnn
aaa
bbb
ccc

# Lists
Python knows a number of compound data types, used to group together other values. The most versatile is the list , which can be written as a list of comma separated values between squares brackets[] 
### Note: list items need not all to have the same type.

In [9]:
a= ['ashraf', 'rehan', 'faysal', 100,103.5, False ]
print (a)

['ashraf', 'rehan', 'faysal', 100, 103.5, False]

In [11]:
print (type(a))

<class 'list'>

In [12]:
len (a)

6

In [14]:
print ( "Length of the list : ",len(a))
print ( "Lenght of the word ashraf :", len ('ashraf'))

Length of the list :  6
Lenght of the word ashraf : 6

To access the elements of the list, indexing and slicing can be used.

As in C, indices start at 0, so a[0] is the first element of the list, a[3] is its fourth element.

Negative indices start from the end of the list, so a[-1] is the last element, a[-2] the last but one, etc.

Slices return a list containing a subset of elements, with the form a[start:stop], stop being excluded. a[1:3] returns the second and third elements. WHen omitted, start is 0 (a[:2] returns the two first elements) and stop is the length of the list (a[1:] has all elements of a except the first one).

In [18]:
print (a)
print (a[0])
print (a[-1])
print (a[1:3])
##print a[-2]
##print (a[:3])

['ashraf', 'rehan', 'faysal', 100, 103.5, False]
ashraf
False
['rehan', 'faysal']

Copying lists can cause some probelems

In [20]:
a = [2,6,5] #Intial test 
b=a         #Copy list by reference 
a[0]= 9     #change one item in the list 

print (a)
print (b)

[9, 6, 5]
[9, 6, 5]

A: B = A does not make a copy of the content of A, but of its reference (pointer). So a and b both points at the same object.

The solution is to use the built-in copy() method of lists:

In [21]:
a = [3,4,5]
b= a.copy()
a[0]= 8

print (a)
print (b)

[8, 4, 5]
[3, 4, 5]

In [22]:
b[0]= 7
print(b)

[7, 4, 5]

In [28]:
a. count(3)

0

In [29]:
a.index(5)

2

In [30]:
a.sort()

In [31]:
print (a)

[4, 5, 8]

In [32]:
a.remove (5)

In [33]:
print(a)

[4, 8]

In [34]:
a.insert(3, 1)
print (a)

[4, 8, 1]

a.remove(x) will remove the first itme at the given position in the list and return it.

a.pop(i) will remove the item from the list whose value is x.

In [36]:
array= [4,5,8,7,7,4,5]
array.remove(4)
array.remove (7)
print(array)

[5, 8, 7, 4, 5]

In [37]:
array.pop(2)
print (array)

[5, 8, 4, 5]

# Dictionaries

useful data types built into python and unlike to lists, which are indexed by a range of number from 0 to length -1. Dictonaries are indexed by keys which can be any immutable types string and numbers can be keys.

Dictionaries can be defined by curly braces {} instead of square brakets. the content is defined by key: item pairs , the item can be any type.

In [40]:
ash ={
    
    'fay': 4098,
    'shape': 4198,
    'habib': 114,
    'jahed': 128,
    'farzana': 124
}

In [41]:
print (ash)

{'jack ': 4098, 'shape': 4198, 'habib': 114, 'jahed': 128, 'farzana': 124}

In [43]:
ash_rehan = ash['jahed']
print (ash_rehan)

128

In [44]:
ash_rehan= ash ['farzana']

print (ash_rehan)

124

In [48]:
ash_reh= ash['shape']
print( ash_reh)

4198

In [49]:
p = ash.keys()
pm= sorted(p)
pmm= ash. values()

Printing the keys , sorting and printing values.

In [50]:
print (p)
print (pm)
print (pmm)

dict_keys(['jack ', 'shape', 'habib', 'jahed', 'farzana'])
['farzana', 'habib', 'jack ', 'jahed', 'shape']
dict_values([4098, 4198, 114, 128, 124])

# If Statement

Perhaps the most well known conditional statement type is the if the statement. For example,

In [51]:
if x < 0 :
    print('x =', x, 'is negative')
elif x == 0:
    print('x =', x, 'is zero')
else:
    print('x =', x, 'is positive')

x = 9 is positive

assigning a value to the variable x and following the result of the statement.

In [52]:
x = 5

if x < 0 :
    print('x =', x, 'is negative')
elif x == 0:
    print('x =', x, 'is zero')
else:
    print('x =', x, 'is positive')

x = 5 is positive

Important! The main particularity of the Python syntax is that the scope of the different structures (functions, for, if, while, etc…) is defined by the indentation, not by curly braces {}. As long as the code stays at the same level, it is in the same scope:

In [53]:
if x<0:
    print("x is negative")
    
elif x==0:
    print ("x is now positive")
    
else:
    print("X is now positive")

X is now positive

A reasonable choice is to use four spaces for the indentation instead of tabs (configure your text editor if you are not using Jupyter).

When the scope is terminated, you need to come back at exactly the same level of indentation. Try this misaligned structure and observe what happens:

# For LOOPS

In [64]:
fruits=['apple',  'mango','guava','berry']

for i in fruits:
    print(i, len(i))

apple 5
mango 5
guava 5
berry 5

For itertaing a sequence of number , range function is so useful . for example:

In [55]:
for i in range(10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [68]:
for i in range(1,4,2):
    print (fruits[i])

mango
berry

to get index number and value at a same time , use enumerate function.

In [65]:
for i, val in enumerate (fruits):
    print (i, val)

0 apple
1 mango
2 guava
3 berry

To get items and values, items() function is quite handy.

In [66]:
for key,value in ash.items():
    print (key,value)

jack  4098
shape 4198
habib 114
jahed 128
farzana 124